.i-do-nothing {
  cursor: pointer;
  font-size: 2rem;
  color: rgb(255, 255, 255);
  background-color: rgb(23, 66, 130);
  transition: background-color .1s;
  border: none;
  border-radius: 1rem;
  padding: 1rem 2rem;
  margin: 1rem;

  &:hover {
    background-color: rgb(48, 93, 165);
  }
}